<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="colored-bar">
        <div class="navbar">
            <div class="navbar-firsthalf">
                <a routerLink="/home">Home</a>
                <a routerLink="/profile">Profile</a>
                <a *ngIf="loginState == false" routerLink="/">Login</a>
            </div>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0" routerLink="/home">
            <div class="navbar-secondhalf">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/orders">Orders</a>
                <a *ngIf="loginState == true" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>

    <div class="main-container animate__animated animate__fadeIn" *ngFor="let product of dt">
        <div class="header-text-image-container">
            <div class="header-text">
                <h1>{{ product.product_name }}</h1>

                <div class="product-detail">
                    <p>₱ {{ product.product_price }}</p>
                </div>

                <div (click)="addToCart(product.product_id)" class="checkout-btn">
                    <p>Add to Cart</p>
                </div>

            </div>
            <div class="header-image-container">
                <img class="header-image" src="{{ product.product_image }}">
            </div>
        </div>

        <h1>Description</h1>

        <div class="product-desc">
            <p>{{ product.product_desc }}</p>
        </div>
    </div>

</body>
</html>