<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">

        <div class="navbar">
            <a routerLink="/home">Home</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/profile">Profile</a>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <a routerLink="/cart">Cart</a>
            <a routerLink="/orders">Orders</a>
            <a routerLink="/login">Logout</a>
        </div>

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Partner Stores</h1>
                <h2>Find and select products from your favorite stores here.</h2>
                <input type="text" placeholder="Search for a store here...">
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/allstores.png">
            </div>
        </div>

        <h1>All Stores</h1>

        <div class="stores-container">
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Puregold Olongapo</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Jelebee Supermart</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Store</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Store</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Store</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Puregold Olongapo</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Jelebee Supermart</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Store</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Store</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Store</p>
            </div>
        </div>
    </div>
</body>
</html>