<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="colored-bar">
        <div class="navbar">
            <div class="navbar-firsthalf">
                <a routerLink="/home">Home</a>
                <a routerLink="/profile">Profile</a>
                <a *ngIf="loginState == false" routerLink="/">Login</a>
            </div>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0" routerLink="/home">
            <div class="navbar-secondhalf">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/orders">Orders</a>
                <a *ngIf="loginState == true" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>

    <div class="main-container animate__animated animate__fadeIn">

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Partner Stores</h1>
                <h2>Find and select products from your favorite stores here.</h2>
                <input type="text" [formControl]="search" [(ngModel)]="filter" placeholder="Search for a store here...">
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/allstores (2).png">
            </div>
        </div>

        <h1>All Stores</h1>

        <div class="stores-container">
            <div class="store-card" routerLink="/store" *ngFor="let store of stores | filter:filter" button (click)="gotoStore(store.store_id); getStoreName(store.store_name)">
                <img src="../../assets/images/store.png">
                <p>{{ store.store_name }}</p>
            </div>
        </div>

        <ng-container *ngIf="(stores | filter:search.value) as result">
            <div class="noresultfound-container" *ngIf="result.length === 0">
                <img src="../../assets/images/noresultsfound.png" class="noresultfoundimg">
                <p>No product found.</p>
            </div>
        </ng-container>
    </div>

    <div class="colored-bar">
        <div class="footer-container">
            <footer>
                <div class="footer-section logotext">
                    <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0" routerLink="/home">
                    <p>Your convenience starts here.</p>
                </div>
                <div class="footer-section">
                    <p>Social Media</p>
                    <div class="socmed">
                        <img class="socmedicon" src="../../assets/images/facebook.png">
                        <img class="socmedicon" src="../../assets/images/twitter.png">
                        <img class="socmedicon" src="../../assets/images/instagram.png">
                    </div>
                </div>
                <div class="footer-section">
                    <p>Contact Us</p>
                    <div class="icon-text">
                        <img class="socmedicon" src="../../assets/images/gmail.png">
                        <p>admin.gocery@gmail.com</p>
                    </div>
                    <div class="icon-text">
                        <img class="socmedicon" src="../../assets/images/telephone.png">
                        <p>09668732466</p>
                    </div>
                </div>
            </footer>
            <div class="zontaline">
                <div class="footext">
                    <p>Gocery © 2021</p>
                </div>
                <div class="footext">
                    <a href="">Terms & Conditions</a>
                    <a href="">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>