<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="colored-bar">
        <div class="navbar">
            <div class="navbar-firsthalf">
                <a routerLink="/">Home</a>
                <a routerLink="/profile">Profile</a>
                <a *ngIf="loginState == false" routerLink="/login">Login</a>
            </div>
            <img routerLink="/" src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <div class="navbar-secondhalf">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/orders">Orders</a>
                <a *ngIf="loginState == true" routerLink="/login">Logout</a>
            </div>
        </div>
    </div>
    
    <div class="main-container">
        
        <div class="header-text-image-container">
            <div class="header-text">
                <h1>{{ catname }} Category</h1>
                <h2>Find all products from your chosen category here.</h2>

                <input [(ngModel)]="term" type="text" placeholder="Search for a product here...">
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/gone-shopping.png">
            </div>
        </div>

        <h1>Products</h1>

        <div class="products-container">
            <div class="product100" *ngFor="let product of dt |filter:term">
                <div class="product">
                    <img style="max-width: 9.37rem; height: 10rem;" src="{{ product.product_image }}">
                    <p>{{ product.product_name }}</p>
                    <img (click)="addToCart(product.product_id)" class="addcart-btn" src="../../assets/images/plus.png">
                </div>
            </div>
        </div>
    
    </div>
</body>
</html>
