<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="main-container">

        <div class="navbar">
            <a href="">Home</a>
            <a href="">Login</a>
            <a href="">Register</a>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <a href="">Cart</a>
            <a href="">Profile</a>
            <a href="">Logout</a>
        </div>

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Meat Category</h1>
                <h2>Find all your meat needs here from all available stores.</h2>

                <input type="text" placeholder="Search for a product here...">
                <!-- <div class="featured-product">
                    <img class="featured-product-image" src="../../assets/images/tempfeatured-product.png">
                    <div class="featured-product-text">
                        <h3>Featured Product</h3>
                        <p>Sample Featured Product Name</p>

                        <div class="checkout-btn">
                            <p>Add to Cart</p>
                        </div>
                    </div>
                </div> -->

            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/gone-shopping.png">
            </div>
        </div>

        <h1>Products</h1>

        <div class="products-container">
            <div class="product">
                <img src="../../assets/images/products.png">
                <p>Sample Product Name</p>
                <img class="addcart-btn" src="../../assets/images/plus.png">
            </div>
            <div class="product">
                <img src="../../assets/images/products.png">
                <p>Sample Product Name</p>
                <img class="addcart-btn" src="../../assets/images/plus.png">
            </div>
            <div class="product">
                <img src="../../assets/images/products.png">
                <p>Sample Product Name</p>
                <img class="addcart-btn" src="../../assets/images/plus.png">
            </div>
            <div class="product">
                <img src="../../assets/images/products.png">
                <p>Sample Product Name</p>
                <img class="addcart-btn" src="../../assets/images/plus.png">
            </div>
            <div class="product">
                <img src="../../assets/images/products.png">
                <p>Sample Product Name</p>
                <img class="addcart-btn" src="../../assets/images/plus.png">
            </div>
        </div>
    
    </div>
</body>
</html>
