a {
    text-decoration: none;
}

.main-container {
    max-width: 56.25rem;
    /* border: 1px solid red; */
    padding: 1rem;
    margin: 0 auto;
}

.navbar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    max-width: 56.25rem;
    margin: 0 auto;
    padding: 1rem;
    /* border: 1px solid red; */
}

.colored-bar {
    background-color: rgb(34, 139, 34, 0.3);
    width: 100%;
}

.navbar a {
    color: dimgray;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.25rem;
}

.navbar-firsthalf, .navbar-secondhalf {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.navbar-firsthalf, .navbar-secondhalf{
    flex: 1;
}

.navbar a:hover {
    background-color: forestgreen;
    color: white;
}

.header-text-image-container {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    gap: 1rem;
}

.header-text h2 {
    margin-top: -1.563rem;
}

.header-image {
    width: 25rem;
    height: auto;
    /* border: 1px solid red; */
}

.featured-product {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 1.25rem;
    padding: 0.5rem 1rem;
}

.featured-product-image {
    max-width: 50%;
    height: auto;
    /* border: 1px solid red; */
}

.products-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    /* padding: 1rem; */
    flex-grow: 1;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 1.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
}

.product100 {
    flex-grow: 1;
}

.product:hover {
    background-color: lightgray;
}

.product p {
    padding-bottom: 0;
    width: 14.375rem;
}

.product img {
    mix-blend-mode: multiply;
    cursor: pointer;
}


.addcart-btn {
    width: 2rem;
    height: 2rem;
    align-self: flex-end;
    margin-right: 1rem;
}

input {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 3.125rem;
    padding: 1.5rem;
    width: 30rem;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.031rem;
    margin: 0 auto;
}

input:focus {
    outline: none !important;
}

@media (max-width: 46.875rem) { 
    .navbar, .header-text-image-container {
        display: flex;
        flex-direction: column;
    }

    .header-image {
        display: none;
    }

    input {
        width: 100%;
    }

    .products-container {
        justify-content: center;
    }

    .product100 {
        width: 100%;
    }
}