<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="colored-bar">
        <div class="navbar">
            <div class="navbar-firsthalf">
                <a routerLink="/home">Home</a>
                <a routerLink="/profile">Profile</a>
                <a *ngIf="loginState == false" routerLink="/">Login</a>
            </div>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0" routerLink="/home">
            <div class="navbar-secondhalf">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/orders">Orders</a>
                <a *ngIf="loginState == true" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
    
    <div class="main-container animate__animated animate__fadeIn">
        
        <div class="header-text-image-container">
            <div class="header-text">
                <h1>{{ catname }} Category</h1>
                <h2>Find all products from your chosen category here.</h2>

                <input [formControl]="search" [(ngModel)]="term" type="text" placeholder="Search for a product here...">
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/gone-shopping.png">
            </div>
        </div>

        <h1>Products</h1>

        <div class="products-container">
            <div class="product100" *ngFor="let product of dt | filter:term | paginate: { itemsPerPage: 6, currentPage: page }">
                <div class="product"> 
                    <img (click)="viewProduct(product.product_id)" style="max-width: 9.37rem; height: 10rem;" src="{{ product.product_image }}">
                    <p>{{ product.product_name }} | ₱ {{ product.product_price }}</p>
                    <div class="action-btn">
                        <img (click)="viewProduct(product.product_id)" class="addcart-btn" src="../../assets/images/witness.png">
                        <img (click)="addToCart(product.product_id)" class="addcart-btn" src="../../assets/images/plus.png">
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngIf="(dt | filter:search.value) as result">
            <div class="noresultfound-container" *ngIf="result.length === 0">
                <img src="../../assets/images/noresultsfound.png" class="noresultfoundimg">
                <p>No product found.</p>
            </div>
        </ng-container>

        <div class="pagination-container">
            <pagination-controls 
              previousLabel="Prev" 
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
              class="my-pagination"></pagination-controls>
        </div>

    </div>

    <div class="colored-bar">
        <div class="footer-container">
            <footer>
                <div class="footer-section logotext">
                    <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0" routerLink="/home">
                    <p>Your convenience starts here.</p>
                </div>
                <div class="footer-section">
                    <p>Social Media</p>
                    <div class="socmed">
                        <img class="socmedicon" src="../../assets/images/facebook.png">
                        <img class="socmedicon" src="../../assets/images/twitter.png">
                        <img class="socmedicon" src="../../assets/images/instagram.png">
                    </div>
                </div>
                <div class="footer-section">
                    <p>Contact Us</p>
                    <div class="icon-text">
                        <img class="socmedicon" src="../../assets/images/gmail.png">
                        <p>admin.gocery@gmail.com</p>
                    </div>
                    <div class="icon-text">
                        <img class="socmedicon" src="../../assets/images/telephone.png">
                        <p>09668732466</p>
                    </div>
                </div>
            </footer>
            <div class="zontaline">
                <div class="footext">
                    <p>Gocery © 2021</p>
                </div>
                <div class="footext">
                    <a href="">Terms & Conditions</a>
                    <a href="">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
