<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="main-container">

        <div class="navbar">
            <a routerLink="/home">Home</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/profile">Profile</a>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <a routerLink="/cart">Cart</a>
            <a routerLink="/orders">Orders</a>
            <a routerLink="/login">Logout</a>
        </div>

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Your Orders</h1>
                <h2>Take a look at your pending or completed orders.</h2>
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/pending.png">
            </div>
        </div>

        <div class="orders-container">
            <div *ngFor="let order of dt" class="order-card" (click)="viewFullDetails(order)">
                <div class="order-card-img">
                    <img src="../../assets/images/tbd.png">
                </div>
                <div class="order-card-text">
                    <p>Order {{ order.order_id }}</p>
                    <p>{{ order.created_at }}</p>
                    <p *ngIf="order.order_status == 1" class="status">Pending</p>
                    <p *ngIf="order.order_status == 2" class="status">To be Delivered</p>
                    <p *ngIf="order.order_status == 3" class="status">Delivered</p>
                    <p *ngIf="order.order_status == 0" class="status">Cancelled</p>
                </div>
            </div>
        </div>


    </div>
</body>
</html>