<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="colored-bar">
        <div class="navbar">
            <div class="navbar-firsthalf">
                <a routerLink="/">Home</a>
                <a routerLink="/profile">Profile</a>
                <a *ngIf="loginState == false" routerLink="/login">Login</a>
            </div>
            <img routerLink="/" src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <div class="navbar-secondhalf">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/orders">Orders</a>
                <a *ngIf="loginState == true" routerLink="/login">Logout</a>
            </div>
        </div>
    </div>
    
    <div class="main-container">

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Your Orders</h1>
                <h2>Take a look at your pending or completed orders.</h2>
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/pending.png">
            </div>
        </div>

        <div class="orders-container">

            <div class="emptymessage-container" *ngIf = "dt.length === 0">
                <p class="header">No orders yet.</p>
                <p>Items that you checkout for purchase will appear here.</p>
            </div>

            <div *ngFor="let order of dt" class="order-card" (click)="viewFullDetails(order)">
                <div class="order-card-img">
                    <img src="../../assets/images/tbd.png">
                </div>
                <div class="order-card-text">
                    <p>Order #{{ order.order_id }}</p>
                    <p>{{ order.created_at | date:"MMMM d, y h:mm a" }}</p>
                    <p *ngIf="order.order_status == 1" class="status pending">Pending</p>
                    <p *ngIf="order.order_status == 2" class="status tbd">To be Delivered</p>
                    <p *ngIf="order.order_status == 3" class="status delivered">Delivered</p>
                    <p *ngIf="order.order_status == 0" class="status cancelled">Cancelled</p>
                </div>
            </div>
        </div>


    </div>
</body>
</html>