<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="main-container">

        <div class="navbar">
            <a href="">Home</a>
            <a href="">Login</a>
            <a href="">Register</a>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <a href="">Cart</a>
            <a href="">Profile</a>
            <a href="">Logout</a>
        </div>

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Your Orders</h1>
                <h2>Take a look at your pending or completed orders.</h2>
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/pending.png">
            </div>
        </div>

        <div class="orders-container">
            <div class="order-card">
                <div class="order-card-img">
                    <img src="../../assets/images/tbd.png">
                </div>
                <div class="order-card-text">
                    <p>Order #1</p>
                    <p>July 8, 2021 10:41:03 AM</p>
                    <p class="status">To Be Delivered</p>
                </div>
            </div>
            <div class="order-card">
                <div class="order-card-img">
                    <img src="../../assets/images/checklist.png">
                </div>
                <div class="order-card-text">
                    <p>Order #1</p>
                    <p>July 8, 2021 10:41:03 AM</p>
                    <p class="status">Delivered</p>
                </div>
            </div>
            <div class="order-card">
                <div class="order-card-img">
                    <img src="../../assets/images/cancelledorder.png">
                </div>
                <div class="order-card-text">
                    <p>Order #1</p>
                    <p>July 8, 2021 10:41:03 AM</p>
                    <p class="status">Cancelled</p>
                </div>
            </div>
            <div class="order-card">
                <div class="order-card-img">
                    <img src="../../assets/images/pendingorder.png">
                </div>
                <div class="order-card-text">
                    <p>Order #1</p>
                    <p>July 8, 2021 10:41:03 AM</p>
                    <p class="status">Pending</p>
                </div>
            </div>
        </div>


    </div>
</body>
</html>