<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="login-container">
            <img class="login-illustration" src="../../assets/images/login.jpg">
            <div class="login-form">
                <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
                <p class="intro-message-header">Welcome Shoppers!</p>
                <p class="intro-message">Your convenience starts here.</p>
                <input [(ngModel)]="acc_username" type="text" placeholder="Username">
                <input [(ngModel)]="acc_password" type="password" placeholder="Password">
                <div (click)="login()" class="login-btn">
                    <p>Log in</p>
                </div>
                <div class="otherlogin-options">
                    <p><a href="">Forgot Password</a></p>
                    <p>|</p>
                    <p><a href=""> Sign up here</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>