<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="colored-bar">
        <div class="navbar">
            <div class="navbar-firsthalf">
                <a routerLink="/home">Home</a>
                <a routerLink="/profile">Profile</a>
                <a *ngIf="loginState == false" routerLink="/">Login</a>
            </div>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0" routerLink="/home">
            <div class="navbar-secondhalf">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/orders">Orders</a>
                <a *ngIf="loginState == true" routerLink="/">Logout</a>
            </div>
        </div>
    </div>
    
    <div class="main-container">

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Your Receipt</h1>
                <h2>A summary of your order appears here.</h2>

                <div (click)="checkOut()" class="checkout-btn">
                    <p>Place Order</p>
                </div>

            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/payment.png">
            </div>
        </div>

        <div class="order-info-container">
            <div class="order-info-card deliveryinfo" *ngFor="let data of dt">
                <p class="header">Delivery Information</p>
                <p>Receiver: {{ data.acc_fname }} {{ data.acc_mname }} {{ data.acc_lname }}</p>
                <p>Address: {{ data.acc_no }} {{ data.acc_street }} {{ data.acc_barangay }}, {{ data.acc_city }} {{ data.acc_province }}</p>
                <p>Contact Number: {{ data.acc_mobile }}</p>
            </div>

            <div class="order-info-card">
                <p class="header">Mode of Payment</p>
                <div class="payment-radio">
                    <div class="md-radio md-radio-inline">
                        <input id="cod" type="radio" name="paymentradio" disabled checked>
                        <label for="cod">Cash on Delivery</label>
                    </div>
                    <!-- <div class="md-radio md-radio-inline">
                        <input id="gcash" type="radio" name="paymentradio">
                        <label for="gcash">Gcash</label>
                    </div> -->
                </div>
            </div>

            <p class="info-message">As of now, Go-cery only has Cash on Delivery as its mode of payment, other modes are expected to be implemented in the future, Stay tuned!</p>

            <div class="order-info-card">
                <p class="header">Order Items</p>
                <div class="order-items" *ngFor="let item of cart">
                    <p>{{item.product_name}}</p>
                    <p>₱ {{item.product_price}} x {{item.cart_quantity}}</p>
                </div>
            </div>

            <div class="order-info-card">
                <p class="header">Payment Information</p>
                <div class="order-items">
                    <p>SubTotal:</p>
                    <p>₱ {{order_info.order_total}}</p>
                </div>
                <div class="order-items">
                    <p>Delivery Fee:</p>
                    <p>₱ {{order_info.order_shipping}}</p>
                </div>
                <div class="order-items">
                    <p>Total Price:</p>
                    <p>₱ {{order_info.order_grandtotal}}</p>
                </div>
            </div>

        </div>

    </div>
</body>
</html>
