<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="main-container">

        <div class="navbar">
            <a href="">Home</a>
            <a href="">Login</a>
            <a href="">Register</a>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <a href="">Cart</a>
            <a href="">Profile</a>
            <a href="">Logout</a>
        </div>

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Your Receipt</h1>
                <h2>A summary of your order appears here.</h2>

                <div class="checkout-btn">
                    <p>Place Order</p>
                </div>

            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/payment.png">
            </div>
        </div>

        <div class="order-info-container">
            <div class="order-info-card deliveryinfo">
                <p class="header">Delivery Information</p>
                <p>Receiver: Juan Dela Cruz</p>
                <p>Address: 1666 Firedam Road Return-return St. Rich Ogap City</p>
                <p>Contact Number: 099999999</p>
            </div>

            <div class="order-info-card">
                <p class="header">Mode of Payment</p>
                <div class="payment-radio">
                    <div class="md-radio md-radio-inline">
                        <input id="cod" type="radio" name="paymentradio">
                        <label for="cod">Cash on Delivery</label>
                    </div>
                    <div class="md-radio md-radio-inline">
                        <input id="gcash" type="radio" name="paymentradio">
                        <label for="gcash">Gcash</label>
                    </div>
                </div>
            </div>

            <div class="order-info-card">
                <p class="header">Order Items</p>
                <div class="order-items">
                    <p>Sample Longer Product Name</p>
                    <p>₱ 00.00 x 6</p>
                </div>
                <div class="order-items">
                    <p>Sample Longer Product Name</p>
                    <p>₱ 00.00 x 6</p>
                </div>
                <div class="order-items">
                    <p>Sample Longer Product Name</p>
                    <p>₱ 00.00 x 6</p>
                </div>
                <div class="order-items">
                    <p>Sample Longer Product Name</p>
                    <p>₱ 00.00 x 6</p>
                </div>
                <div class="order-items">
                    <p>Sample Longer Product Name</p>
                    <p>₱ 00.00 x 6</p>
                </div>
            </div>

            <div class="order-info-card">
                <p class="header">Payment Information</p>
                <div class="order-items">
                    <p>SubTotal:</p>
                    <p>₱ 00.00</p>
                </div>
                <div class="order-items">
                    <p>Delivery Fee:</p>
                    <p>₱ 00.00</p>
                </div>
                <div class="order-items">
                    <p>Total Price:</p>
                    <p>₱ 00.00</p>
                </div>
            </div>

        </div>

    </div>
</body>
</html>
