<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">

        <div class="navbar">
            <a routerLink="/home">Home</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/profile">Profile</a>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <a routerLink="/cart">Cart</a>
            <a routerLink="/orders">Orders</a>
            <a routerLink="/login">Logout</a>
        </div>

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Update Password</h1>
                <h2>Feeling refreshed? Apply changes to your current password here.</h2>

                <div class="checkout-btn">
                    <p>Save Changes</p>
                </div>
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/textfield.png">
            </div>
        </div>

        <h1>New Password</h1>

        <div class="input-container">
            <input type="password" placeholder="Password">
        </div>


    </div>
</body>
</html>