<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="colored-bar">
        <div class="navbar">
            <div class="navbar-firsthalf">
                <a routerLink="/home">Home</a>
                <a routerLink="/profile">Profile</a>
                <a *ngIf="loginState == false" routerLink="/">Login</a>
            </div>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0" routerLink="/home">
            <div class="navbar-secondhalf">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/orders">Orders</a>
                <a *ngIf="loginState == true" routerLink="/">Logout</a>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Update Password</h1>
                <h2>Feeling refreshed? Apply changes to your current password here.</h2>

                <div (click)="submitForm()" class="checkout-btn">
                    <p>Save Changes</p>
                </div>
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/textfield.png">
            </div>
        </div>

        <h1>New Password</h1>

        <div class="input-container">
            <form [formGroup]="registrationForm" novalidate>
                <input formControlName="acc_password" [(ngModel)]="acc_password" type="password" placeholder="Password">
                <input formControlName="acc_confirmpassword" [(ngModel)]="acc_confirmpassword" type="password" placeholder="Confirm Password">
            </form>
        </div>


    </div>
</body>
</html>