<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">

        <div class="navbar">
            <a routerLink="/home">Home</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/profile">Profile</a>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <a routerLink="/cart">Cart</a>
            <a routerLink="/orders">Orders</a>
            <a routerLink="/login">Logout</a>
        </div>

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Update Address</h1>
                <h2>Moved out to a new location? Apply changes to your current address here.</h2>

                <div class="checkout-btn">
                    <p>Save Changes</p>
                </div>
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/textfield.png">
            </div>
        </div>

        <h1>Address Information</h1>

        <div class="input-container">
            <input type="text" placeholder="House Number">
            <input type="text" placeholder="Street">
            <input type="text" placeholder="Barangay">
            <input type="text" placeholder="City">
            <input type="text" placeholder="Province">
        </div>


    </div>
</body>
</html>