a {
    text-decoration: none;
}

.main-container {
    max-width: 56.25rem;
    /* border: 1px solid red; */
    padding: 1rem;
    margin: 0 auto;
}


.navbar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.navbar a {
    color: black;
}

.navbar a:hover {
    color: forestgreen;
}

.header-text-image-container {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    gap: 1rem;
    flex: 1;
}

.header-text h2 {
    margin-top: -1.563rem;
}

.checkout-btn {
    border-radius: 3rem;
    background-color: forestgreen;
    color: white;
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
}

.checkout-btn:hover {
    background-color: green;
}

.checkout-btn p {
    font-size: 1.25rem;
}

.header-image-container img {
    width: 30rem;
    height: auto;
}

.cart-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.cart-item {
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 1.25rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.cart-item:hover {
    background-color: lightgray;
}

.cart-item p {
    padding-bottom: 0;
}

.cart-btn {
    width: 2rem;
    height: 2rem;
}

.cart-item-quantity, .cart-crement-buttons {
    display: flex;
    justify-content: space-between;
}

.cart-item-half {
    flex-grow: 1;
}

.cart-item-half p {
    margin: 0;
}

.cart-quantity-crement {
    display: flex;
    gap: 1rem;
}

.cart-crement-buttons {
    margin-top: 2.5rem;
}

@media (max-width: 46.875rem) { 
    .navbar, .header-text-image-container {
        display: flex;
        flex-direction: column;
    }

    .header-image {
        display: none;
    }

    .cart-crement-buttons {
        margin-top: 1rem;
    }
  }