<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="colored-bar">
        <div class="navbar">
            <div class="navbar-firsthalf">
                <a routerLink="/home">Home</a>
                <a routerLink="/profile">Profile</a>
                <a *ngIf="loginState == false" routerLink="/">Login</a>
            </div>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0" routerLink="/home">
            <div class="navbar-secondhalf">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/orders">Orders</a>
                <a *ngIf="loginState == true" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>

    <div class="main-container animate__animated animate__fadeIn">

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Update Contact</h1>
                <h2>New mobile number? Apply changes to your contact number here.</h2>

                <div (click)="submitForm()" class="checkout-btn">
                    <p>Save Changes</p>
                </div>
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/textfield.png">
            </div>
        </div>

        <h1>Contact Information</h1>

        <p class="formerror-messages" *ngIf="isSubmitted && errorControl.acc_mobile.errors?.required">Mobile number is required.</p>
        <p class="formerror-messages" *ngIf="isSubmitted && errorControl.acc_mobile.errors?.pattern">Mobile number should not contain any letters.</p>
        <p class="formerror-messages" *ngIf="isSubmitted && errorControl.acc_mobile.errors?.minlength">Mobile number should be 11 numbers long.</p>

        <form class="input-container" [formGroup]="registrationForm" novalidate>
            <input formControlName="acc_mobile" [(ngModel)]="acc_mobile" type="text" placeholder="Contact Number">
        </form>

    </div>
</body>
</html>