<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="colored-bar">
        <div class="navbar">
            <div class="navbar-firsthalf">
                <a routerLink="/">Home</a>
                <a routerLink="/profile">Profile</a>
                <a *ngIf="loginState == false" routerLink="/login">Login</a>
            </div>
            <img routerLink="/" src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <div class="navbar-secondhalf">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/orders">Orders</a>
                <a *ngIf="loginState == true" routerLink="/login">Logout</a>
            </div>
        </div>
    </div>

    <div class="main-container">

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Update Contact</h1>
                <h2>New mobile number? Apply changes to your contact number here.</h2>

                <div class="checkout-btn">
                    <p>Save Changes</p>
                </div>
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/textfield.png">
            </div>
        </div>

        <h1>Contact Information</h1>

        <div class="input-container">
            <input type="text" placeholder="Contact Number">
        </div>


    </div>
</body>
</html>