<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="colored-bar">
        <div class="navbar">
            <div class="navbar-firsthalf">
                <a routerLink="/">Home</a>
                <a routerLink="/profile">Profile</a>
                <a *ngIf="loginState == false" routerLink="/login">Login</a>
            </div>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <div class="navbar-secondhalf">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/orders">Orders</a>
                <a *ngIf="loginState == true" routerLink="/login">Logout</a>
            </div>
        </div>
    </div>

    <div class="main-container">

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Order # {{ order_info.order_id }} </h1>
                <h2>See your full order details here.</h2>
                <div class="checkout-btn" (click)="cancelOrder()">
                    <p *ngIf="order_info.order_status == 1">Cancel Order</p>
                </div>
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/delivered.png">
            </div>
        </div>

        <h1>Order Details</h1>

        <div class="orderinfo-container">
            <div class="orderinfo">
                <img src="../../assets/images/location.png">
                <div class="orderinfo-text">
                    <p class="header">Delivery Address</p>
                    <p *ngFor="let details of order_details">{{ details.acc_no }} {{ details.acc_street }} {{ details.acc_barangay }}, {{ details.acc_city }} {{ details.acc_province }}</p>
                </div>
            </div>

            <div class="orderinfo">
                <img src="../../assets/images/products.png">
                <div class="orderinfo-text">
                    <p class="header">Order Items</p>
                    <div *ngFor="let item of order_item" class="order-items">
                        <p>{{ item.product_name }}</p>
                        <p>₱ {{ item.product_price }} x {{ item.item_quantity }}</p>
                    </div>
                </div>
            </div>

            <div class="centered-orderinfo">
                <div class="centeredorderinfo-text">
                    <img src="../../assets/images/wallet.png">
                    <p class="header">Payment Information</p>
                    <div class="payment-items">
                        <p>SubTotal</p>
                        <p>₱ {{ dt[0].order_total }}</p>  
                    </div>
                    <div class="payment-items">
                        <p>Delivery Fee</p>
                        <p>₱ {{ dt[0].order_shipping }}</p>
                    </div>
                    <div class="payment-items">
                        <p>Total Price</p>
                        <p>₱ {{ dt[0].order_grandtotal }}</p>
                    </div>
                </div>
            </div>

            <div class="centered-orderinfo">
                <img src="../../assets/images/cash-payment.png">
                <p class="header">Payment Method</p>
                <div class="centered-orderinfo-text">
                    <p>Cash on Delivery</p>
                    <!-- <img class="gcashlogo" src="../../assets/images/gcashlogo.png"> -->
                </div>
            </div>

            <div class="centered-orderinfo">
                <img src="../../assets/images/schedule.png">
                <p class="header">Order Date & Time</p>
                <div class="centered-orderinfo-text">
                    <p>{{ dt[0].created_at | date:"MMMM d, y h:mm a" }}</p>
                </div>
            </div>

            <!-- <div class="orderinfo">
                <img src="../../assets/images/wallet.png">
                <div class="orderinfo-text">
                    <p class="header">Payment Information</p>
                    <div class="order-items">
                        <p>SubTotal</p>
                        <p>₱ 172</p>
                    </div>
                    <div class="order-items">
                        <p>Delivery Fee</p>
                        <p>₱ 100</p>
                    </div>
                    <div class="order-items">
                        <p>Total Price</p>
                        <p>₱ 272</p>
                    </div>
                </div>
            </div> -->

        </div>

    </div>
</body>
</html>