<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">

        <div class="navbar">
            <a routerLink="/home">Home</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/profile">Profile</a>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <a routerLink="/cart">Cart</a>
            <a routerLink="/orders">Orders</a>
            <a routerLink="/login">Logout</a>
        </div>

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Juan Dela Cruz</h1>
                <h2>Take a look at your profile details here.</h2>

                <div class="checkout-btn" routerLink="/chooseupdate">
                    <p>Update Profile</p>
                </div>
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/maleavatar.png">
            </div>
        </div>

        <h1>User Information</h1>

        <div class="userinfo-container">
            <div class="user-info">
                <div class="user-info-icon">
                    <img src="../../assets/images/location.png">
                </div>
                <div class="user-info-text">
                    <p>Address</p>
                    <p class="user-detail">1666 Firedam Road Return-return St. Rich Ogap City</p>
                </div>
            </div>

            <div class="user-info">
                <div class="user-info-icon">
                    <img src="../../assets/images/telephone.png">
                </div>
                <div class="user-info-text">
                    <p>Contact Number</p>
                    <p class="user-detail">09999999999</p>
                </div>
            </div>

            <div class="user-info">
                <div class="user-info-icon">
                    <img src="../../assets/images/email.png">
                </div>
                <div class="user-info-text">
                    <p>Email Address</p>
                    <p class="user-detail">201000000@gordoncollege.edu.ph</p>
                </div>
            </div>

            <div class="user-info">
                <div class="user-info-icon">
                    <img src="../../assets/images/user.png">
                </div>
                <div class="user-info-text">
                    <p>Username</p>
                    <p class="user-detail">username</p>
                </div>
            </div>

            <div class="user-info">
                <div class="user-info-icon">
                    <img src="../../assets/images/gender.png">
                </div>
                <div class="user-info-text">
                    <p>Gender</p>
                    <p class="user-detail">Male</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>