<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="colored-bar">
        <div class="navbar">
            <div class="navbar-firsthalf">
                <a routerLink="/">Home</a>
                <a routerLink="/profile">Profile</a>
                <a *ngIf="loginState == false" routerLink="/login">Login</a>
            </div>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <div class="navbar-secondhalf">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/orders">Orders</a>
                <a *ngIf="loginState == true" routerLink="/login">Logout</a>
            </div>
        </div>
    </div>

    <div class="main-container" *ngFor="let data of dt">

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>{{ data.acc_fname }} <span *ngIf="data.acc_mname == ''"></span> <span *ngIf="data.acc_mname != ''">{{ data.acc_mname[0] }}.</span> {{ data.acc_lname}}</h1>
                <h2>Take a look at your profile details here.</h2>

                <div class="checkout-btn" routerLink="/chooseupdate">
                    <p>Update Profile</p>
                </div>
            </div>
            <div class="header-image-container">
                <img *ngIf="(data.acc_gender == 1)" class="header-image" src="../../assets/images/maleavatar.png">
                <img *ngIf="(data.acc_gender == 2)"class="header-image" src="../../assets/images/femaleavatar.png">
            </div>
        </div>

        <h1>User Information</h1>

        <div class="userinfo-container">
            <div class="user-info">
                <div class="user-info-icon">
                    <img src="../../assets/images/location.png">
                </div>
                <div class="user-info-text">
                    <p class="header">Address</p>
                    <p class="user-detail">{{ data.acc_no }} {{ data.acc_street }} {{ data.acc_barangay }} {{ data.acc_city }}, {{ data.acc_province }}</p>
                </div>
            </div>

            <div class="user-info">
                <div class="user-info-icon">
                    <img src="../../assets/images/telephone.png">
                </div>
                <div class="user-info-text">
                    <p class="header">Contact Number</p>
                    <p class="user-detail">{{ data.acc_mobile }}</p>
                </div>
            </div>

            <div class="user-info">
                <div class="user-info-icon">
                    <img src="../../assets/images/email.png">
                </div>
                <div class="user-info-text">
                    <p class="header">Email Address</p>
                    <p class="user-detail">{{ data.acc_email }}</p>
                </div>
            </div>

            <div class="user-info">
                <div class="user-info-icon">
                    <img src="../../assets/images/user.png">
                </div>
                <div class="user-info-text">
                    <p class="header">Username</p>
                    <p class="user-detail">{{ data.acc_username }}</p>
                </div>
            </div>

            <div class="user-info">
                <div class="user-info-icon">
                    <img src="../../assets/images/gender.png">
                </div>
                <div class="user-info-text">
                    <p class="header">Gender</p>
                    <p class="user-detail" *ngIf="(data.acc_gender == 1)">Male</p>
                    <p class="user-detail" *ngIf="(data.acc_gender == 2)">Female</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>