<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container animate__animated animate__fadeIn">
        <div class="otp-form">
            <img src="../../../assets/images/otp.png">
            <p>Enter the One Time Pin code we sent to your email so we can verify it's you.</p>
            <input [(ngModel)]="acc_otp" type="text" placeholder="OTP">
            <div class="checkout-btn" (click)="nextForm()">
                <p>Finish Registration</p>
            </div>
        </div>
    </div>
</body>
</html>