<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="colored-bar">
        <div class="navbar">
            <div class="navbar-firsthalf">
                <a routerLink="/">Home</a>
                <a routerLink="/profile">Profile</a>
                <a *ngIf="loginState == false" routerLink="/login">Login</a>
            </div>
            <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
            <div class="navbar-secondhalf">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/orders">Orders</a>
                <a *ngIf="loginState == true" routerLink="/login">Logout</a>
            </div>
        </div>
    </div>

    <div class="main-container" *ngFor="let data of dt">

        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Hello, {{ data.acc_fname }} <span *ngIf="data.acc_mname == ''"></span> <span *ngIf="data.acc_mname != ''">{{ data.acc_mname[0] }}.</span> {{ data.acc_lname}}</h1>
                <h2>What would you like to buy today?</h2>
                <div class="featured-product">
                    <img class="featured-product-image" src="../../assets/images/tempfeatured-product.png">
                    <div class="featured-product-text">
                        <h3>Featured Product</h3>
                        <p>Mega Sardines Chili 425G</p>

                        <div class="checkout-btn">
                            <p>Add to Cart</p>
                        </div>
                    </div>
                    <!-- <img src="../../assets/images/discount.png"> -->
                </div>
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/gone-shopping.png">
            </div>
        </div>

        <h1>Browse by Category</h1>

        <div class="categories-container">
            <div button (click)="category('Meat')" class="category-card meat">
                <img src="../../assets/images/meat.png">
                <p>Meat</p>
            </div>
            <div button (click)="category('Vegetables')" class="category-card veggie">
                <img src="../../assets/images/cabbage.png">
                <p>Vegetables</p>
            </div>
            <div button (click)="category('Seafood')" class="category-card seafood">
                <img src="../../assets/images/shrimp.png">
                <p>Seafood</p>
            </div>
            <div button (click)="category('Beverages')" class="category-card drinks">
                <img src="../../assets/images/drinks.png">
                <p>Beverages</p>
            </div>
            <div button (click)="category('Canned Goods')" class="category-card canned">
                <img src="../../assets/images/canned-food.png">
                <p>Canned</p>
            </div>
            <div button (click)="category('Dairy')" class="category-card dairy">
                <img src="../../assets/images/dairy.png">
                <p>Dairy</p>
            </div>
            <div button (click)="category('Personal Care')" class="category-card personalcare">
                <img src="../../assets/images/soap.png">
                <p>Personal Care</p>
            </div>
            <div button (click)="category('Cleaners')" class="category-card cleaners">
                <img src="../../assets/images/detergent.png">
                <p>Cleaners</p>
            </div>
            <div button (click)="category('Fruits')" class="category-card fruits">
                <img src="../../assets/images/bananas.png">
                <p>Fruits</p>
            </div>
            <div button (click)="category('Bread')" class="category-card bread">
                <img src="../../assets/images/bread.png">
                <p>Bread</p>
            </div>
        </div>

        <div class="title-seeallbtn">
            <h1>Browse by Store</h1>
            <a routerLink="/allstores">See All  ❯</a>
        </div>

        <!-- <h1>Browse by Store</h1> -->

        <div class="stores-container">
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Puregold Olongapo</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Jelebee Supermart</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Store</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Store</p>
            </div>
            <div class="store-card" routerLink="/store">
                <img src="../../assets/images/store.png">
                <p>Store</p>
            </div>
        </div>

    </div>
</body>
</html>
