a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.main-container {
    max-width: 56.25rem;
    /* border: 1px solid red; */
    padding: 1rem;
    margin: 0 auto;
}

.navbar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    max-width: 56.25rem;
    margin: 0 auto;
    padding: 1rem;
    /* border: 1px solid red; */
}

.footer-container {
    max-width: 56.25rem;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.socmedicon {
    width: 64px;
    height: 64px;
}

.footer-section {
    flex: 1;
}

.footer-section p {
    color: dimgray;
}

.socmed, .icon-text {
    display: flex;
    gap: 1rem;
}

.logotext {
    text-align: center;
}

.logotext p {
    margin: 0;
}

.zontaline {
    border-top: 0.5px solid dimgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footext {
    display: flex;
    gap: 1rem;
}

.footext p, a {
    color: dimgray;
}

.colored-bar {
    background-color: rgb(0, 128, 0, 0.3);
    width: 100%;
}

.navbar a {
    color: dimgray;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.25rem;
}

.navbar-firsthalf, .navbar-secondhalf {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.navbar-firsthalf, .navbar-secondhalf{
    flex: 1;
}


.navbar a:hover {
    background-color: forestgreen;
    color: white;
}

.header-text-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    gap: 1rem;
}

.header-text h2 {
    margin-top: -1.563rem;
}

.featured-product {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 1.25rem;
    padding: 1rem;
    gap: 1rem;
}


.featured-product-image {
    max-width: 50%;
    height: auto;
    mix-blend-mode: multiply;
    /* border: 1px solid red; */
}

.checkout-btn {
    border-radius: 3rem;
    background-color: forestgreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checkout-btn p {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkout-btn:hover {
    background-color: green;
}

.header-image {
    width: 25rem;
    height: auto;
    /* border: 1px solid red; */
}

.categories-container, .stores-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.category-card, .store-card {
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 1.25rem;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


.category-card, .store-card p {
    padding-bottom: 0;
}

.store-card:hover {
    background-color: lightgray;
}

.category-card img {
    width: 6.25rem;
    height: 6.25rem;
}

.store-card img {
    width: 8rem;
    height: 8rem;
}

.store-card p {
    padding-bottom: 0;
    width: 14.375rem;
}

.title-seeallbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-seeallbtn span {
    vertical-align: -5px;
}

.title-seeallbtn a {
    font-size: 1.125rem;
    color: gray;
}

.title-seeallbtn a:hover {
    color: dimgray;
}

.meat {
    background-color: rgb(252, 83, 98, 0.4);
}

.meat:hover {
    background-color: rgb(252, 83, 98, 0.6);
}

.veggie {
    background-color: rgb(76, 188, 100, 0.5);
}

.veggie:hover {
    background-color: rgb(76, 188, 100, 0.7);
}

.seafood {
    background-color: rgb(228, 121, 68, 0.4);
}

.seafood:hover {
    background-color: rgb(228, 121, 68, 0.6);
}

.personalcare {
    background-color: rgb(92, 188, 243, 0.4);
}

.personalcare:hover {
    background-color: rgb(92, 188, 243, 0.6);
}

.drinks {
    background-color: rgb(52, 92, 124, 0.4);
}

.drinks:hover {
    background-color: rgb(52, 92, 124, 0.6);
}

.canned {
    background-color: rgb(130, 141, 157, 0.3);
}

.canned:hover {
    background-color: rgb(130, 141, 157, 0.5);
}

.dairy {
    background-color: rgb(57, 145, 207, 0.4);
}

.dairy:hover {
    background-color: rgb(57, 145, 207, 0.6);
}

.cleaners {
    background-color: rgb(228, 60, 124, 0.3);
}

.cleaners:hover {
    background-color: rgb(228, 60, 124, 0.5);
}

.fruits {
    background-color: rgb(224, 198, 70, 0.4);
}

.fruits:hover {
    background-color: rgb(224, 198, 70, 0.6);
}

.bread {
    background-color: rgb(208, 162, 135, 0.6);
}

.bread:hover {
    background-color: rgb(208, 162, 135, 0.7);
}

@media (max-width: 46.875rem) { 
    .navbar, .header-text-image-container {
        display: flex;
        flex-direction: column;
    }

    .header-image {
        display: none;
    }

    .socmed {
       justify-content: center;
    }
  }