.main-container {
    max-width: 56.25rem;
    /* border: 1px solid red; */
    padding: 1rem;
    margin: 0 auto;
}

.header-text-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    gap: 1rem;
}

.header-text h2 {
    margin-top: -1.563rem;
}

.termscbox {
    flex: 1;
}

.header-image {
    width: 30rem;
    height: auto;
    /* border: 1px solid red; */
}

.checkout-btn {
    border-radius: 3rem;
    background: forestgreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 1;
}

.checkout-btn:hover {
    background-color: green;
}

.checkout-btn p {
    font-size: 1.25rem;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-container {
    display: flex;
    gap: 1rem;
}

.input-container input, select {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 3.125rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.031rem;
    margin: 0 auto;
    min-width: 0;
}

.address-input-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.address-input-container input, select {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 3.125rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.031rem;
    margin: 0 auto;
    flex-grow: 1;
}

.formerror-messages {
    border: 1px solid crimson;
    background-color: rgb(220,20,60, 0.2);
    border-radius: 10px;
    padding: 1rem;
}

input:focus, select:focus {
    outline: none !important;
}

.checkbox input[type=checkbox]:checked{
    background-color: forestgreen; 
}

.equalflex {
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
    align-items: center;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
}

@media (max-width: 46.875rem) {
    .navbar, .header-text-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-image {
        width: 100%;
        height: auto;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    input, select {
        width: 100%;
    }

    .equalflex {
        flex-direction: column;
    }

    .termscbox, .checkout-btn {
        width: 100%;
    }
}

