<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="header-text-image-container">
            <div class="header-text">
                <h1>Register to Go-cery</h1>
                <h2>Become a member of the Go-cery family by filling in the form below.</h2>

                <div class="termscbox">
                    <input type="checkbox" name="termscbox">
                    <label for="termscbox">I agree to the terms and conditions and privacy policy of Go-cery</label><br>
                </div>

                <div class="checkout-btn">
                    <p>Get OTP & Finish Registration</p>
                </div>
            </div>
            <div class="header-image-container">
                <img class="header-image" src="../../assets/images/Form.png">
            </div>
        </div>

        <h1>Name</h1>

        <div class="input-container">
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Middle Name">
            <input type="text" placeholder="Last Name">
        </div>

        <h1>Address</h1>

        <div class="address-input-container">
            <input type="text" placeholder="House Number">
            <input type="text" placeholder="Street">
            <select name="cars" id="cars">
                <option value="Asinan">Asinan</option>
                <option value="Banicain">Banicain</option>
                <option value="Barretto">Barretto</option>
                <option value="East Bajac-Bajac">East Bajac-Bajac</option>
                <option value=">East Tapinac">East Tapinac</option>
                <option value="Gordon Heights">Gordon Heights</option>
                <option value="Kalaklan">Kalaklan</option>
                <option value="Mabayuan">Mabayuan</option>
                <option value="New CabalanN">New Cabalan</option>
                <option value="New Ilalim">New Ilalim</option>
                <option value="New Kababae">New Kababae</option>
                <option value="Old Cabalan">Old Cabalan</option>
                <option value="Pag-asa">Pag-asa</option>
                <option value="Santa Rita">Santa Rita</option>
                <option value="West Bajac-Bajac">West Bajac-Bajac</option>
                <option value="West Tapinac">West Tapinac</option>
              </select>
            <input type="text" placeholder="City">
            <input type="text" placeholder="Province">
        </div>

        <h1>Contact Information</h1>

        <div class="address-input-container">
            <input type="text" placeholder="Contact Number">
            <input type="email" placeholder="Email Address">
        </div>

        <h1>Credentials</h1>

        <div class="input-container">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <input type="text" placeholder="OTP">
        </div>
    </div>

    
</body>
</html>